@model GASF.ApplicationLogic.Data.Course
@using GASF.ApplicationLogic.Services;
@{
    ViewData["Title"] = "Create";
}
@inject ITeachersService TeachersService;
@inject GroupService GroupService;
    <h1>Create Course</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TeacherId" class="control-label">Teacher</label>
                <select class="custom-select" asp-for="TeacherId">
                    @foreach (var teacher in TeachersService.GetAllTeachers())
                    {
                        <option value="@teacher.Id">@teacher.FirstName @teacher.LastName</option>
                    }
                </select>
                <span asp-validation-for="TeacherId" class="text-danger"></span>
            </div>

            @*<div class="form-group">
            <label asp-for="GroupsCourses" class="control-label">Groups</label>

            <select multiple="multiple" class="custom-select" asp-for="GroupsCourses">
                @foreach (var group in GroupService.GetAll())
                {
                    <option value="@group.GroupId">@group.GroupName </option>
                }
            </select>

            <span asp-validation-for="GroupsCourses" class="text-danger"></span>*@
        @*</div>*@

            @*<table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.GroupsCourses)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in GroupService.GetAll())
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.GroupName)
                               
                            </td>
                           
                            <td>
                                <a asp-action="AddGroup" asp-route-id="@item.GroupId" >Add</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>*@





            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
