@model GASF.Models.Students.TeacherCourseEnrolledStudents;
@using System.Linq;
@{
    ViewData["Title"] = "";
}

<table style="width:100%">

    <tr>
        <th>Name</th>
        <th>Group</th>
        <th>Email</th>
        <th>Grade</th>
    </tr>

    @foreach (var s in Model.Students)
    {
        <tr>
            <td>@s.FirstName @s.LastName</td>
            <td>@s.Group.GroupName</td>
            <td>@s.Email</td>
            @if (@Model.Grades.FirstOrDefault(g => g.StudentId == s.Id) == null)
            {
                <td>-</td>

            }
            else
            {
                <td> @Model.Grades.First(g => g.StudentId == s.Id).Score </td>
            }
        </tr>
    }
</table>