@model GASF.Models.Students.TeacherCourseEnrolledStudents;
@{
    ViewData["Title"] = "";
}

<table style="width:100%">

    <tr>
        <th>Name</th>
        <th>Group</th>
        <th>Email</th>
        <th>Grade</th>
    </tr>

    @foreach (var s in Model.Students)
    {
        <tr>
            <td>@s.FirstName @s.LastName</td>
            <td>@s.Group.GroupName</td>
            <td>@s.Email</td>
            <td>@Model.Grades.First().Score</td>
        </tr>
    }

</table>
