@model GASF.Models.Students.StudentCoursesViewModel
@{
    ViewData["Title"] = "Index";
}


<br />

<h1>Courses</h1>
<br />
<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>📙Name </th>
        <th>📙Description</th>
        <th>📙Teacher Name</th>
        <th>📙Exam Date</th>
    </tr>
    @foreach (var d in Model.Courses)
    {
        <tr>
            <td>@d.Name</td>
            <td>@d.Description</td>
            <td>@d.Teacher.FirstName @d.Teacher.LastName</td>
            <td>@d.Exam.Date</td>
        </tr>

    }
</table>
<br />





<h1>SchoolFee</h1>
<br />
<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>❗❗ Due Date</th>
        <th>❗❗  Value</th>
    </tr>
    @foreach (var d in Model.SchoolFee)
    {
        <tr>
            <td>@d.DueDate</td>
            <td>@d.Value RON</td>
        </tr>

    }
</table>




<br />
<h1>Grades</h1>
<br />
<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>✔️ Exam Name</th>
        <th>✔️ Score Grade </th>
    </tr>
    @foreach (var d in Model.Grades)
    {
        <tr>
            <td>@d.Exam.Course.Name</td>
            <td>@d.Score</td>
        </tr>

    }
</table>  